/* GLOBAL VARIABLES */
header {
  grid-area: header;
  background-color: #46424D;
  color: #FFFF;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #46424D;
  color: #FFFF;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "main aside";
}

main {
  grid-area: main;
  background-color: #2B2733;
  color: #CBC9CF;
  padding: 10px;
}

aside {
  grid-area: aside;
  background-color: #2B2733;
  color: #CBC9CF;
  padding: 10px;
}

/* MAIN SECTION */
.button-select-category {
  background-color: #46424D;
  color: #FFFF;
  padding: 20px;
}

h4 {
  padding: 20px;
}

.study, .exercise, .meditate {
  background-color: #46424D;
  color: #FFFF;
  border-radius: 2px;
  width: 150px;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-section {
  display: flex;
  justify-content: space-around;
}
