/* GLOBAL VARIABLES */
* {
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
}

header {
  grid-area: header;
  background-color: #46424D;
  display: flex;
  justify-content: center;
}

body {
  background-color: #46424D;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header"
    "main aside";
}

main {
  grid-area: main;
  background-color: #2B2733;
  color: #CBC9CF;
  padding: 10px;
}

aside {
  grid-area: aside;
  background-color: #2B2733;
  color: #CBC9CF;
  padding: 10px;
}

input {
  border: 0;
  border-bottom: 1px solid #FFF;
  outline: 0;
  background: transparent;
  padding-top: 30px;
}

p {
  margin: 0;
  text-align: center;
}

h4 {
  margin: 0;
  grid-column-start: 2;
  grid-row-start: 1;
}

/* MAIN SECTION */
.button-select-category {
  background-color: #46424D;
  padding: 30px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 5% 1fr 1fr 5%;
  grid-template-rows: repeat(5, auto);
  justify-content: space-around;
}

.study, .exercise, .meditate {
  background-color: #46424D;
  border-radius: 2px;
  width: 150px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.exercise-active {
  border-color: #FD8078;
  color: #FD8078;
}

.meditate-active {
  border-color: #C278FD;
  color: #C278FD;
}

.study-active {
  border-color: #B3FD78;
  color: #B3FD78;
}

.button-section {
  display: flex;
  justify-content: space-between;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
}

.description {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
}

.minutes {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-row-start: 4;
}

.seconds {
  display: flex;
  flex-direction: column;
  grid-column-start: 3;
  grid-row-start: 4;
}

.start-activity {
  grid-column-start: 3;
  grid-row-start: 5;
  width: 70%;
  height: 50px;
  border-radius: 2px;
  display: flex;
  font-size: 17px;
  align-items: center
  justify-content: center;
  justify-self: flex-end;
  color: #2B2733;
}
